* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* GLOBAL */

body {
    background-color: #F8F1F1;
}

#header {
    background-color: black;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    height: 8vh;
    min-height: 50px;

}





#header .logo img {
    width: 7.3vw;
    height: auto;
    position: absolute;
    left: 30px;
    top: 0px;
    min-width: 60px;
    z-index: 101;
    min-width: 85px;
 }


#header .menu  ul li {
    list-style: none;
    display: inline;
}

#header .menu ul li a:hover {
    color: red;
}


#header ul li {
    margin-right: 30px;
}

#header .menu ul li a {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1pt;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}

.nav-label, .nav-input {
    display: none;
}

@media (max-width: 768px) {
    .nav-label {
        display: block;
        cursor: pointer;
        margin-top: 50%;
    }

    .botones-menu {
        position: fixed;
        top: 8%;
        bottom: 0;
        background: black;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 1s ease-in-out;
    }

    .nav-input:checked + .botones-menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .contenedor-contacto {
        height: 50%;
    }

}


#footer {
    display: flex;
    padding: 0.2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0C0B0B;
    background-image: url(../imagenes/footer2.png);
    background-position:  center;
    background-size: cover;
}



#footer .redes img {
    width: 3vw;
    min-width: 30px;
}

#footer .redes {
    padding: 10px;
}

#footer .redes .facebook {
    padding-right: 32px;
}

#footer .redes .twitter {
    padding-right: 32px;
}


/* HOME */

#main {
    width: cover;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: url(../imagenes/home.png);
    background-size: cover;
    background-position: center;
}

#main .texto-principal {
    margin-bottom: 10vh;
    margin-left: 2vw;
    font-size: 3.5rem;
    text-shadow: 2px 2px 11px black;
    color: white;

}

#main .texto-principal .subtitulo {
    font-size: 2rem;
}

#main .titulo, .subtitulo {
    text-shadow: 2px 2px 11px black;
    color: white;
}

.titulomobile,.titulomobile2 {
    display: none;
}

/* BIO */

#main-bio {
    width: cover;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background: url(../imagenes/bio.jpg);
    background-size: cover;
    background-position: center;
}

main .titulo-bio {
    margin-bottom: 10vh;
    font-size: 3.5rem;
    text-shadow: 2px 2px 11px black;
    color: white;
}

.section-general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 10px;
    justify-items: end;
}

.imagen-perfil img {
    height: auto;
    width: 20vw;
    max-width: 90%;
    min-width: 200px;
    height: auto;
}

.general {
    font-size: 3rem;    
    margin-top: 14px;
    width: 100%;
}

.general h3 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.linea {
    border-top: 1px solid black;
    height: 32px;
    max-width: 60vw;
    padding: 0;
    margin: 20px auto 0 auto;
}

.contenedor-historia{
    display: flex;
    align-self: center;
}

.contenedor-historia h2 {
    font-size: 3rem;    
    width: 100%;
}

.texto-historia {
    margin-top: 40px;
    align-self: center;
    column-count: 2;
    width: 70vw;
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.contenedor-hitos{
    display: flex;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor-hitos h2 {
    font-size: 3rem;    
    margin-top: 14px;
    width: 100%;
}

.timeline {
    margin: 0 auto;
    max-width: 550px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    justify-content: center;
}

.timeline-componente {
    margin: 0 20px 20px;
    height: auto;
}

.timeline-imagen img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30vw;
    min-width: 280px;
    
}

.timeline-imagen--alta img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60vh;
    width: auto;
    max-height: 55vh;
    min-width: 0px;
   
}

.timeline-componente--bg{
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline-fecha--derecha {
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
}

.timeline-fecha{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.timeline-linea {
    position: relative;
    background: black
}

.timeline-punto {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #353333;
    border-radius: 50%;
}

.timeline-titulo {
    margin: 0;
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.timeline-texto {
    line-height: 1.5;
}

/* CALENDARIO */

#main-calendario {
    width: cover;
    height: 92vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background: url(../imagenes/calendario.jpg);
    background-size: cover;
    background-position: center;
}

main .titulo-calendario {
    margin-bottom: 10vh;
    font-size: 3.5rem;
    text-shadow: 2px 2px 11px black;
    color: white;

}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;    
    gap: 20px;
}

 
.australia {
    background-image: url(../imagenes/ao.jpg);
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 70%;
    transition: all .5s !important;
}

.australia:hover {
    transform: scale(1.05) !important; 
}

.rolandgarros {
    background-image: url(../imagenes/rg.jpg);
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 68%;
    transition: all .5s !important;
}

.rolandgarros:hover {
    transform: scale(1.05) !important;
}

.wimbledon {
    background-image: url(../imagenes/wimbledon.jpg);
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 90%;
    transition: all .5s !important;
}

.wimbledon:hover {
    transform: scale(1.05) !important;
}

.usopen {
    background-image: url(../imagenes/usopen.jpg);
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 80% 70%;
    transition: all .5s !important;
}

.usopen:hover {
    transform: scale(1.05) !important;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: white;
    text-shadow: 5px 1px 6px #000000;
}




/* MEDIA */

#main-media {
    width: cover;
    height: 92vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background: url(../imagenes/media.jpg);
    background-size: cover;
    background-position: center;
}

main .titulo-media {
    margin-bottom: 10vh;
    font-size: 3.5rem;
    text-shadow: 2px 2px 11px black;
    color: white;
}

.contenedor-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

  

/* CONTACTO */

#main-contacto   {
    width: cover;
    height: 92vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background: url(../imagenes/contacto.jpg);
    background-size: cover;
    background-position: center;
}

main .titulo-contacto {
    margin-bottom: 10vh;
    font-size: 3.5rem;
    text-shadow: 2px 2px 11px black;
    color: white;
}

section {
    background-color: #F8F1F1;
    display: flex;
    flex-direction: column;
}

.titulo-formulario {
    padding: 3%;
    text-align: center;
}

.categoria-formulario {
    display: block;
    text-align: left;
    margin-left: 15vw;
    margin-bottom: 0.5%;
    font-weight: 700;
}

input, textarea {
    width: 70%;
    margin-bottom: 3%; 
    padding: 4px;
    align-items: center;
    margin-left: 15vw;
}

.input-form {
    height: 40px;
}

textarea {
    max-width: 70%;
    min-width: 70%;
    min-height: 20vh;
    max-height: 20vh;
}

#boton {
    outline: none;
    border: none;
    background: black;
    color: white;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
}

#boton:hover {
     background: #0C0B0B;
}


/* RESPONSIVE */


@media (max-width: 798px) {

    #main {
        background-position: right;
    }


     #main .texto-principal {
        text-align:center;
        font-size: 3rem;
        align-items: flex-start;
            
    }

    #main .texto-principal .subtitulo {
        font-size: 1.5rem;
        text-align: center;
    } 
}

@media (max-width: 768px) {

    #main-contacto, #main-bio, #main-calendario, #main-media {
        height: 50vh;
    }

    main .titulo-contacto, main .titulo-bio, main .titulo-media {
        font-size: 2rem;
    }

    main .titulo-calendario {
        font-size: 1.5rem;
    }

    .general {
        font-size: 1.5rem;
    }

    .general h3 {
        font-size: 1rem
    }
    .contenedor-historia h2 {
        font-size: 2rem;
    }

    .texto-historia {
        font-size: 1rem;
    }

    .contenedor-hitos h2 {
        font-size: 2rem;
    }

    .timeline {
        margin: 0 auto;
        max-width: 550px;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .timeline-linea{
        display: none;
    }



    .timeline-fecha--derecha {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .timeline-fecha{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    .timeline-imagen img {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 30vw;
        min-width: 300px;
        max-width: 300px;
    }

    .timeline-imagen--alta img{
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60vh;
        width: auto;
        max-height: 380px;
        min-width: 0px;
    }


    .t-03 {
        grid-row: 3/4;
    }


    .t-08 {
        grid-row: 7/8;
    }

    .t-12 {
        grid-row: 11/12;
    }

    .c-12{
        grid-row: 12/13;
    }


    .t-18 {
        grid-row: 15/16;
    }

    .c-18 {
        grid-row: 16/17;
    }

 /*    .timeline-fecha, .timeline-fecha--derecha {
        font-size: 1.8rem;
    } */

    

}
