* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f8f1f1;
}

#header {
    background-color: black;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    height: 8vh;
    min-height: 50px;
    .logo{
        img {
            width: 7.3vw;
            height: auto;
            position: absolute;
            left: 30px;
            top: 0px;
            min-width: 60px;
            z-index: 101;
            min-width: 85px;
        }
    }
    .menu {
        ul {
            li {
                list-style: none;
                display: inline;
                margin-right: 30px;
                a{
                    color: white;
                    font-size: 1rem;
                    font-weight: 700;
                    letter-spacing: 1pt;
                    text-decoration: none;
                    border-bottom: 2px solid white;
                    padding-bottom: 1px;
                }
                a :hover {
                    color: red;
                }
            }
        }
    }
}

.nav-label, .nav-input {
    display: none;
}

@media (max-width: 768px) {
    .nav-label {
        display: block;
        cursor: pointer;
        margin-top: 50%;
    }

    .botones-menu {
        position: fixed;
        top: 8%;
        bottom: 0;
        background: black;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 1s ease-in-out;
    }

    .nav-input:checked + .botones-menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .contenedor-contacto {
        height: 50%;
    }
}

#footer {
    display: flex;
    padding: 0.2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0C0B0B;
    background-image: url(../imagenes/footer2.png);
    background-position:  center;
    background-size: cover;
    .redes {
        padding: 10px;
        img {
            width: 3vw;
            min-width: 30px;
        }
        .facebook {
            padding-right: 32px;
        }
        .twitter {
            padding-right: 32px;
        }
    }
}

#main-calendario{
    width: cover;
    height: 92vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background: url(../imagenes/calendario.jpg);
    background-size: cover;
    background-position: center;
    .titulo-calendario {
        margin-bottom: 10vh;
        font-size: 3.5rem;
        text-shadow: 2px 2px 11px black;
        color: white;
    }
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;    
    gap: 20px;
    .australia {
        background-image: url(../imagenes/ao.jpg);
        border-radius: 10px;
        min-height: 200px;
        font-weight: bold;
        padding: 20px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: 50% 70%;
        transition: all .5s !important;
    }
    .australia:hover {
        transform: scale(1.05) !important; 
    }
    .rolandgarros {
        background-image: url(../imagenes/rg.jpg);
        border-radius: 10px;
        min-height: 200px;
        font-weight: bold;
        padding: 20px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: 50% 68%;
        transition: all .5s !important;
    }
    .rolandgarros:hover {
        transform: scale(1.05) !important;
    }
    .wimbledon {
        background-image: url(../imagenes/wimbledon.jpg);
        border-radius: 10px;
        min-height: 200px;
        font-weight: bold;
        padding: 20px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: 50% 90%;
        transition: all .5s !important;
    }
    .wimbledon:hover {
        transform: scale(1.05) !important;
    }
    .usopen {
        background-image: url(../imagenes/usopen.jpg);
        border-radius: 10px;
        min-height: 200px;
        font-weight: bold;
        padding: 20px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: 80% 70%;
        transition: all .5s !important;
    }
    .usopen:hover {
        transform: scale(1.05) !important;
    }
    .textos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        color: white;
        text-shadow: 5px 1px 6px #000000;
    }
}

@media (max-width: 768px) {
    #main-calendario {
        height: 50vh;
        .titulo-calendario {
            font-size: 1.5rem;
        }
    }
}